body {
   text-align: center;
}

img {
   height: 25%;
   width: 25%;
  border-style: solid;
   border-width: 10px;
   border-color: aqua;
}

.title {
   font-family: 'Rubik Broken Fax', system-ui;
   font-size: 100px;
}
.bottom_div {
   text-align: center;
   background-color: black;
   bottom: 0;
   left: 0;
   position: absolute;
   right: 0;
}

.one {
   color: white;
   display: inline-block;
   padding: 20px 40px; 
   margin: 10px;
}

.two {
   color: white;
   display: inline-block;
   padding: 20px 40px; 
   margin: 10px;

}
.three {
   color: white;
   display: inline-block;
   padding: 20px 40px; 
   margin: 10px;

}